@font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
  }

  @font-face {
    font-family: 'wizard_worldsimplified';
    src: url('wizardworld-webfont.woff2') format('woff2'),
         url('wizardworld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.display-4 {
  font-family:'Harry Potter Regular';
  font-weight:normal;
  font-size:60px
}

.lead {
  font-family: 'wizard_worldsimplified';
  font-size: 30px;
}

.jumbotron-width {
  width: 80%;
  margin: 1em auto;
}

#sorting-hat {
  float: right;
  width: 30%;
}

.image-shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 5;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
