body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
  font-family: 'wizard_worldsimplified';
}


@font-face {
  font-family: 'Harry Potter Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Harry Potter Regular'), url('HARRP___.woff') format('woff');
  }

@font-face {
  font-family: 'wizard_worldsimplified';
  src:  url('wizardworld-webfont.woff2') format('woff2'),
        url('wizardworld-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.jumbotron { 
  background: url('https://images.ctfassets.net/usf1vwtuqyxm/2phT56DSucuUqU6Icm6mCe/79c7ad7bca59b0626fe4e2e80d188ca5/HogwartsCastle_WB_F4_HogwartsThroughTheTrees_Illust_100615_Land.jpg?fm=jpg') 0 0 no-repeat, linear-gradient(rgba(0,0,0,.5) 20%,rgba(0,0,0,1) 100%);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}

#sorting-form, #student-cards {
  background-color: transparent;
}

.display-4 {
  font-family:'Harry Potter Regular';
  font-weight:normal;
  font-size:60px
}

.lead {
  font-size: 30px;
}

#submitNameForm {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

#student-cards {
  width: 80%;
  margin: auto;
}

.card {
  width: 30%;
  margin: 1rem auto;
  min-width: 30%;
  padding: 2em 0 2em 0;
}

.card img {
  width: 80%;
  height: auto;
  margin: 1em;
}

#sorting-hat {
  width: 50%;
  filter: invert(80%);
}

.subtitles {
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
}

#evil-students {
  width: 80%;
  margin: auto;
}

#evil-students img {
  width: 50%;
  height: auto;
  margin: 1em;
}

.darkmark {
  color: #999;
}

.darkmark img {
  filter: invert(80%);
}

.page-divider {
  display: block;
  width: 50%;
  margin: 2em auto;
  filter: invert(20%);
}

.image-shake {
  animation: shake 0.5s;
  animation-iteration-count: 3;
  transition: transform .5s ease;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.fade-in {
  animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% { opacity: 0; font-size: 0; }
  50% { opacity: 0; font-size: 0;}
  100% { opacity: 1; font-size: 5rem;}
}

#house-announce-dialog .modal-content {
  background-color: rgba(0, 0, 0, 0);
}

#house-announce-dialog .modal-background {
  opacity:0.1 !important;
}

#announce-house {
  height: 2em;
  margin: 1em auto;
  color: white;
}



.form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
